<div class="container">
  <div class="contenedor_busqueda" fxLayout="column" fxLayout.xs="column">
    <h2> Calcula un recorrido entre dos estaciones </h2>
    <div fxFlex="50%" fxLayout="row" class="buscar">
      <input type="text" placeholder="Estación de origen" disabled>
      <button (click)="toggleChild()">Seleccionar</button>
    </div>

    <div fxFlex="50%" fxLayout="row" class="buscar">
      <input type="text" placeholder="Estación de destino" disabled>
      <button (click)="toggleChild()">Seleccionar</button>
    </div>
  </div>

  <!-- Alinear a la derecha -->
  <!-- <div *ngIf="showVar" style="margin-left:auto; margin-right:0;">
    <app-horarios-tabla>
    </app-horarios-tabla>
  </div> -->

  <div>
    <app-horarios-tabla [showMePartially]="showVar">
    </app-horarios-tabla>
  </div>
</div>
