<div id="cabecera">
  <span> MetroVLC - Toda la información sobre el metro de Valencia allá donde estés </span>
  <img src="../assets/unnamed.png">
</div>
<mat-toolbar color="primary" >
  <img id="logo" src="../assets/metrovlcblanco.png" width="150px">
  <button class="btn_menu_primero" routerLink="/horarios" routerLinkActive="activo"><span class="fa fa-home fa-lg"></span>Horarios</button>
  <button class="btn_menu" routerLinkActive="activo">Acerca de </button>
  <button class="btn_inicio_sesion" (click)="abrirFormularioLogin()"><span class="fa fa-sign-in fa-lg"></span>Iniciar sesión </button>
</mat-toolbar>
