<div id="cabecera">
  <span> MetroVLC - Toda la información sobre el metro de Valencia allá donde estés </span>
  <img src="../assets/unnamed.png">
</div>
<mat-toolbar color="primary">
  <img id="logo" src="../assets/metrovlcblanco.png" width="150px">
  <button class="btn_menu_primero" routerLink="/horarios" routerLinkActive="activo"><span class="fa fa-home fa-lg"></span>Horarios</button>
  <button class="btn_menu" routerLinkActive="activo">Acerca de </button>
  <!-- <div class="btn_inicio_sesion"> -->
    <!-- <p> {{usuario | json}} </p> -->
  <button class="btn_inicio_sesion" (click)="abrirFormularioLogin()" *ngIf="usuario == '' || usuario.nombre == ''; else elseBlock">
    <span class="fa fa-sign-in fa-lg"></span>Iniciar sesión
  </button>
  <!-- </div> -->
  <ng-template #elseBlock>
    <p class="btn_inicio_sesion">¡Hola, {{usuario.nombre}}!</p>
    <button routerLink="/mi-cuenta"><span class="fa fa-sign-in fa-lg"></span>Mi cuenta</button>
    <button (click)="estacionesFavoritas()"><span class="fa fa-sign-in fa-lg"></span>Estaciones favoritas</button>
    <button (click)="cerrarSesion()"><span class="fa fa-sign-in fa-lg"></span>Cerrar sesión</button>
  </ng-template>
</mat-toolbar>
